@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Colors */
:root {
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --black: #000112;
  --dark-grey: #2b2c37;
  --very-dark-grey: #20212c;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-hover: #ff9898;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*  Color Tokens */
:root {
  --kanban-main-bg: var(--lines-light);
  --kanban-primary-bg: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --kanban-main-bg: var(--dark-grey);
    --kanban-primary-bg: var(--dark-grey);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-l {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-m {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.primary-button {
  padding: 12px 16px;
  background-color: var(--main-purple);
  border-radius: 48px;
  color: var(--white);
}
